@use "../abstracts/auxiliares" as *;

.pedido {
  border-radius: 8px;
  box-shadow: 0 0 1rem 0 rgba($color: $cor-preta, $alpha: 0.2);
  width: 100%;

  &__cabecalho {
    @include flex($gap: 0.6rem, $justify: space-between);
    padding: 2.5rem;
    background-color: $cor-branco-3;

    @include respond(small) {
      flex-direction: column;
      padding: 2rem;
    }
  }

  &__corpo {
    @include flex($gap: 1.6rem);
    padding: 2.5rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    @include respond(small) {
      padding: 2rem;
    }

    & .tabela__imagem {
      border-radius: 4px;
      overflow: hidden;
    }
  }
}
